.onlymobile{display:none}
/*
     FILE ARCHIVED ON 20:55:24 Jan 03, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:45:43 Dec 13, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 92.831
  exclusion.robots: 0.105
  exclusion.robots.policy: 0.095
  RedisCDXSource: 0.601
  esindex: 0.01
  LoadShardBlock: 74.279 (3)
  PetaboxLoader3.datanode: 151.961 (4)
  CDXLines.iter: 15.09 (3)
  load_resource: 139.125
  PetaboxLoader3.resolve: 35.727
*/